$body-bg: white;

@import "../node_modules/bootstrap/scss/bootstrap";

h1 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo {
    width: 600px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-brand {
    font-family: "nimbus-sans-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar-nav {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

#contactbtn {
    color: white;
}

.custombg {
    background-image: url(/house.png);
    background-size: cover;
    margin-top: -50px;
    height: 640px;
    background-position: center center;
    width: 100vw;
}

#herotext{
    padding-top: 320px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}